<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> QA Machine overview </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/en-gb.js"></script>

    </script>

  </head>
  <body>
  <nav clase= 'navbar navbar-default navbar-static-top'>
    <div class="container">
      <ul class= 'nav navbar-vav'>
        <li><a class="navbar-brand" href="{% url 'index' %}"> Home </a></li>
        <li><a class="navbar-brand" href="{% url 'QA_interface_app:reports' %}">Overview  QA machines</a></li>
        <li><a class="navbar-brand" href="{% url 'QA_interface_app:readme' %}" > Readme</a></li>
        <li><a class="navbar-brand" href="{% url 'QA_interface_app:register' %}">Register</a></li>
        {% if user.is_authenticated %}
        <li><a class= 'navbar-brand'  href="{% url 'QA_interface_app:logout' %}">logout</a>   </li>
        {% else %}
        <li> <a class= 'navbar-link' href="{% url 'QA_interface_app:user_login' %}">login</a>   </li>
        {% endif %}

      </ul>
    </div>
  </nav>
  <div class="container">
    {% block body_block %}

    {% endblock %}
  </div>

  </body>
</html>
