


{% extends 'QA_interface_app/base.html' %}

{% block body_block %}
{% load staticfiles %}

<html >
<head>
<meta charset="utf-8">
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/de.js"></script>
</head>
<body>

<h2> About 'free' and 'busy' status </h2>
<p> how to find if a  QA machine is busy? :  First we collect in the machine QA machine information in the  rev.txt or release.yml file about the branches deployed.</p>
<p>Then based on this data and  the diagram below we find out if the status of the  QA machine is busy or free. </p>
<img src= 'https://gitlab.com/remitoudic/QA_monitoring_2/raw/master/static/images/QA_machine_project_%20logic_busy.jpg' >

    <!--<img src=  "{% static "/images/QA_machine_project_ logic_busy.jpg"   %}">   -->

<p> Example : </p>
Let say  we collected  2 branche names in the machine QA007 :
<ul>
<li>'master'</li>
<li>'story/BOSS-77777-fiege-20-quentin-order-export'  (   In jira in QA in Progress  there is a ticket with name 'BOSS-QA007')</li>
</ul>
then the machine is consider  'busy' and will be in  orange displayed.

<h2> About the blue and orange buttons </h2>
Orange is for busy Qa machine  and blue for free.  By cliking on it,  the content and the history of rev.txt / release.yml will be
displayed below.


<h2> About login and registration </h2>
To be able to see any content , you must be login.
Please  log with:
<ol>
  <li>username: contorion</li>
  <li>password: contorion</li>
</ol>

<h2> About this project:  </h2>
This project  use a django server.The backend is entirely written in python.
<p>  For more detail contact remi,toudic@contorion.de  :)  </p>

<h2> About the installation </h2>
<p> In a QA machine </p>
<ul>
  <li> clone the project to a qa machine</li>
  <li> check that  python3 and pip are installed </li>
  <ul>
    cammand: python3 -V
    command :  pip3 --version
  </ul>
  <li> run script install_environment.py</li>
  <ul>
    <li>command python  install_environment.py</li>
  </ul>
  <li> run </li>

</ul>
{% endblock %}
</html>
