<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> form Page </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styling.css' %}" />
  </head>
  <body>
    <h1> Form  for QA_machine  </h1>
    <div class="container">
        <div class="jumbotron">

        <h1> ###################### </h1>
        <form method="post">
            {{Booking.as_p}}
            {% csrf_token %}
          <input type="submit" class=" btn btn primary" value="book">
        </form>

        </div>
    </div>
  </body>
</html>
