{% extends 'QA_interface_app/base.html' %}


{% block body_block %}

      <div class="jumbotron">
        <h1> QA monitoring Project </h1>

        {% if user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'QA_interface_app:reports' %}" role="button">QA Machines overview </a>
        <br>
        {%else%}
         <h3> Please loggin for contents </h3>
         {% endif %}
         <br>
         {% if user.is_staff  %}
         <button type="button" class="btn btn-default">start  Data import process manually</button>
         {% endif %}
    </div>
{% endblock %}
