
{% extends "QA_interface_app/base.html" %}
{% block body_block %}

<div class="jumbotron">

  {% if user.is_authenticated %}
  <h1> Cool you are logged in  :) </h1>
 {%else%}
  <h1> Please login</h1>
  <form class="" action="{% url 'QA_interface_app:user_login' %}" method="post">
    {% csrf_token %}
    <label for="username"></label>
    <input type="text" name="username" placeholder="Username">
    <label for="password">Password</label>
    <input type="password" name="password">
    <input type="submit" name="" value="login">
  </form>
{% endif %}
</div>
</div>
{% endblock %}
