{% extends 'QA_interface_app/base.html' %}


{% block body_block %}
<body>
  <div class="container">
    <div class="jumbotron">
      <h2>Looking for a QA machine to deploy ?  </h2>
      Below are displayed the QA machine names with their availability. <br />

      For more information about the content below , please have look at the readme . <br />

    </div>

    <div class="jumbotron">
With the submit button, you can change the status of a machine, leave a comment or give a owner to the machine.  <br />
<p> </p>
    <form   class="form-group" method="post" novalidate >
        {% csrf_token %}
         <table  >
           <td>
              {{ BookingForm.QAmachine}}
            </td>
             <td>
               {{ BookingForm.owner.errors }}
               {{ BookingForm.owner}}
             </td>
             <td>
               {{ BookingForm.comments.errors }}
               {{ BookingForm.comments}}
             </td>
             <td>
               {% for radio in BookingForm.status %}
               {{ radio }}
               {% endfor %}
             </td>
        </table>
      <input type="submit" class="btn btn-success" value="submit status change" style="float: right;"   >
</div>
 </form >

      {% if machines %}
     <div class="panel-group" id="accordion">

      <div class="panel panel-default">
        {% for machine in machines %}
            <div class="panel-heading">
              <h4 class="panel-title">

        <a  class="btn btn-info" data-toggle="collapse" data-parent="#accordion" href="#table{{machine.id}}" onclick="this.style.color = 'black'"> <b> Machine: </b>  {{machine.QAmachine}} => {{machine.status}} </a>
        <button type="button" class="btn btn-secondary"> <b>owner:</b>  {{machine.owner}}</button>
        <button type="button" class="btn btn-secondary"> <b> comments: </b> {{machine.comments}}</button>
         </h4>
            </div>
            <div id="table{{machine.id}}" class="panel-collapse collapse">
              <div class="panel-body">
                {% if reports %}
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th style="width:5%"> store </th>
                      <th style="width:10%"> Service </th>
                      <th style="width:10%"> Branch </th>
                      <th style="width:10%"> User </th>
                      <th style="width:10%"> Deployement date </th>
                      <th style="width:10%"> Dump Age </th>
                    </tr>
                  </thead>
                  {% for QA in reports %}
                  {% if machine.id == QA.FK_report_id %}
                  <tr>
                    <td>{{QA.store}}</td>
                    <td>{{QA.service}}</td>
                    <td>{{QA.branch}}</td>
                    <td>{{QA.user}}</td>
                    <td>{{QA.deployement_date}}</td>
                    <td id='dump_Age'>{{QA.dump_date}}</td>
                  </tr>
                  {% endif %}
                  {%endfor%}
                </table>
              </div>
                </div>
              {% endif %}
                {%endfor%}
              {% endif %}
      </div>

  </div>

  </div>




</body>



<script >

var Buttons_list= document.getElementsByClassName("btn btn-info")
var Button=''
for(i=0; i<Buttons_list.length ; i++)  { Button += Buttons_list[i].text;
                                           if (Buttons_list[i].text.includes("busy") == true)
                                                 {
                                                 Buttons_list[i].style.background = "#ff9966"}
                                          else { Buttons_list[i].style.background =   "#20c3ff"   }}

function time_diff(date) {
  var now = moment(new Date()).lang("en"); //todays date
  var start = moment(date, "DD/MM/YY - HH:mm"); // another date
  var duration = moment.duration(now.diff(start));
  var days = duration.humanize();
  if (days == "Invalid date") {
    days = "-";
}
  return days;}

dates_dump = document.querySelectorAll("#dump_Age")
for(i=0; i<dates_dump.length ; i++)  {dates_dump[i].innerText=time_diff(dates_dump[i].innerText) };
</script>

{% endblock %}
</html>
